activator-sbt-*.sbt
logs
project/project
target
tmp
.history
dist
/.idea
projectFilesBackup/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

conf/tumblr.conf
conf/twitter4j.properties
conf/youtube.conf

Thumbs.db
