@import url("//fonts.googleapis.com/css?family=Roboto:400,500,700,900");

.clear {
    clear: both;
}

.left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #939393 transparent transparent;
}

.right {
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #939393 transparent transparent transparent;
}

.current::after {
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ff9a88;
    content: '';
    opacity: 1;
}

.twitter {
    color: #55acee;
}

.youtube {
    color: #e52d27;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #272727;
}

#background-stripe {
    margin-left: auto;
    margin-right: auto;
    background-color: #eedd7a;
    width: 50%;
    min-width: 600px;
}

header {
    text-align: center;
}

header img {
    vertical-align: text-bottom;
    width: 20%;
}

nav {
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    float: left;
    width: 25%;
}

nav a {
    background-color: #eee;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    line-height: 40px;
    vertical-align: middle;
    height: 40px;
    width: 100%;
}

nav a::after {
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ff9a88;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

nav a:hover::after,
nav a:focus::after {
    opacity: 1;
}

nav a:hover {
    background-color: #e1e1e1;
}

article header {
    text-align: left;
}

article header h1 {
    margin-top: 0;
}

article header span, .profile header span {
    color: #555;
    font-size: 0.6em;
    font-weight: 500;
    padding: 10px;
}

article section {
    background-color: #fff;
    padding: 5%;
    margin-left: -10px;
    margin-right: -10px;
}

article section p {
    text-align: justify;
    margin: 0;
}

article footer {
    margin: 0;
    padding: 10px;
}

#main-footer {
    background-color: #fff;
    padding: 10px 5%;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;

}

#main-footer span {
    float: right;
}

#footer-content {
    padding: 5px;
    color: #fff;
    background-color: #545454;
    margin-left: -10px;
    margin-right: -10px;
}

#footer-content section {
    font-size: 12px;
    float: left;
    width: 33%;
    text-align: center;
}

#footer-content a {
    text-decoration: none;
    font-weight: 500;
}

#footer-content img {
    vertical-align: text-bottom;
    width: 50px;
}

#footer-content .logo {
    width: 14px;
    margin-right: 14px;
}

#footer-social {
    text-align: left;
}

#copyright {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    color: #555;
    text-align: center;
    clear: left;
    float: none;
    width: 100%;
}

.profile img {
    float: left;
}

.profile img {
    height: 200px;
}

.profile {
    background-color: #fff;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-right: -10px;
}

.profile section {
    padding: 5%;
}