* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

html, body {
    height: 100%;
}

body {
    background-color: #96e9ff;
}

#background-stripe {
    margin-left: auto;
    margin-right: auto;
    background-color: #d6d6d6;
    width: 50%;
    min-width: 600px;
    height: 100%;
}

header, article, footer {
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

header {
    text-align: center;
}

header img {
    width: 20%;
}

nav {
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: block;
    float: left;
    width: 25%;
}

nav a {
    background-color: #eee;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    vertical-align: middle;
    height: 30px;
    width: 100%;
}

.left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #939393 transparent transparent;
}

.right {
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #939393 transparent transparent transparent;
}

nav a::before,
nav a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

nav a::before {
    margin-right: 10px;
    content: '[';
}

nav a::after {
    margin-left: 10px;
    content: ']';
}

nav a:hover::before,
nav a:hover::after,
nav a:focus::before,
nav a:focus::after {
    opacity: 1;
}

article {
    background-color: #fff;
    padding: 10px;
}

article footer {
    background-color: #fff;
    margin: 0;
}

footer {
    background-color: #666;
}

footer div {
    float: left;
    width: 33%;
    text-align: center;
}

footer img {
    width: 10%;
}

#copyright {
    clear: left;
    float: none;
    width: 100%;
}