@import service.Project

@(project: Project)
@if(project.coreUsers.nonEmpty) {
    <div>
        Authors:
        <ul class="author-list">
            @for(author <- project.coreUsers){
                <li>
                    <div>
                        <span><a href="https://github.com/@author.login">@author.name</a></span>
                    </div>
                </li>
            }
            @for(author <- project.guests){
                <li>
                    <div>
                        <span><a href="https://github.com/@author.login">@author.name</a></span><span class="guest">Guest</span>
                    </div>
                </li>
            }
            @for(author <- project.authors){
                <li>
                    <div>
                        <span>@author</span><span class="guest">Guest</span>
                    </div>
                </li>
            }
        </ul>
    </div>
}
