@import service.TumblrPost
@(post: TumblrPost, trunc: Boolean)
<article id="@post.anchor" class="tumblr round blog-post">
    <header>
        <a href="@routes.MainController.index()"><img alt="banana4life" src="@routes.Assets.versioned("images/Banana4Life-Logo.png")"></a>
        <h1><a href="@routes.BlogController.showPost("tumblr", post.id)#@post.anchor">@post.title</a></h1>
        <div>posted by @post.blogName | @post.formattedDate</div>
    </header>
    @if(trunc && post.paragraphs.length > 2) {
        @Html(post.truncatedBody(2))
        <p>
            <a href="@routes.BlogController.showPost("tumblr", post.id)#@post.anchor">...</a>
        </p>
    } else {
        @Html(post.body)
    }
    <footer>
        @for(tag <- post.tags) {
            <a href="@routes.MainController.search(tag)">#@tag</a>
        }
    </footer>
</article>
