@import service.TumblrPost
@(post: TumblrPost, page: Int, trunc: Boolean)
<article id="@post.anchor" class="round blog-post">
    <header>
        <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/Banana4Life-Logo.png")"></a>
        <a href="@routes.Application.blog(0)#@post.anchor"><h1> @post.title</h1></a>
        <div>posted by @post.blogName | @post.formattedDate</div>
    </header>
    @if(trunc && post.paragraphs.length > 2) {
        @Html(post.truncatedBody(2))
        <p>
            <a href="@routes.Application.blog(0)#@post.anchor">...</a>
        </p>
    } else {
        @Html(post.body)
    }
    <footer>
        @for(tag <- post.tags) {
            <a href="@routes.Application.blog(page)#@tag">#@tag</a>
        }
    </footer>
</article>
