@(post: com.tumblr.jumblr.types.Post, page: Int, trunc: Boolean)
@import com.tumblr.jumblr.types.TextPost
@import java.text.SimpleDateFormat

@dateFormatSrc = @{new SimpleDateFormat("yyyy-MM-dd")}
@dateFormatDest = @{new SimpleDateFormat("dd MMMMM yyyy")}
@paragraphs = @{post.asInstanceOf[TextPost].getBody.split("</p>")}

@if(post.isInstanceOf[TextPost] && post.asInstanceOf[TextPost].getTitle != null) {
    <article id="@post.getId" class="round blog-post">
        <header>
            <h1> @post.asInstanceOf[TextPost].getTitle</h1>
            <div>posted by @post.getBlogName | @dateFormatDest.format(dateFormatSrc.parse(post.getDateGMT.substring(0, 10)))</div>
        </header>
        @if(trunc && paragraphs.length > 2) {
            @Html(paragraphs.take(2).mkString("</p>") + "</p>")
            <p>
                <a href="@routes.Application.blog(0)#@post.getId">...</a>
            </p>
        } else {
            @Html(post.asInstanceOf[TextPost].getBody)
        }
        <footer>
            @for(tag <- post.getTags) {
                <a href="@routes.Application.blog(page)#@tag">#@tag</a>
            }
        </footer>
    </article>
}