@import views.html.snippet._

@import java.time.format.DateTimeFormatter
@(project: service.Project, single: Boolean = false)

@if(single) {
    @for(web <- project.web){
        <div id="load-game-button" class="web-game-button animateOnHover">
            <span>Load Web Game (this may take a while)</span>
        </div>
        <script src="@routes.Assets.versioned("javascripts/LoadIFrameWebGame.js")"></script>

        <div class="content">
            <div id="gameContainer" data-url="@project.web">
                <iframe id="gameIFrame" src="" frameborder="0"
                style="display: none"
                allow="fullscreen"
                width="100%" height="700">
                        </iframe>
            </div>
        </div>
    }
}

<div class="project round">
    <div class="jam-date">@(project.createdAtMonth())</div>
    <div>
        <header>
            <a class="github" target="_blank" href="@project.url"><span class="fab fa-github" aria-hidden="true"></span></a>
            <h1><a href="@routes.MainController.project(project.jam.map(_.name).getOrElse("unknown"), project.repoName)">@project.displayName</a></h1>
            @for(jam <- project.jam) {
                <div>
                    <span>@jam.name #@jam.number</span> |
                    <span>Theme "@jam.theme"</span>
                </div>
            }
        </header>

        <div>@project.description</div>
        <div>Download <a target="_blank" href="@project.download">here</a>!</div>
        @for(web <- project.web){
            <div>Play the game in your browser <a target="_blank" href="@web">here</a>!</div>
        }
        @for(sound <- project.soundtrack){
            <div>Get the soundtrack <a target="_blank" href="@sound">here</a>!</div>
        }
        @authorlist(project)
        @for(jam <- project.jam) {
            <div>
                        Developed for <a href="@jam.fixedSite()">@jam.name #@jam.number with the theme "@jam.theme"</a>
                @if(jam.comments.nonEmpty) {
                    <div>
                        A few cool comments:
                        @for(comment <- jam.comments) {
                            <div>@comment</div>
                        }
                    </div>
                }
                    </div>
        }
        @if(project.videos.nonEmpty && !single) {
            <div>Videos:</div>
            <ul>
            @for(video <- project.videos) {
                <li>
                    <a target="_blank" href="@video.url">@video.displayTitle()</a>
                </li>
            }
            </ul>
        }

    </div>

    <div class="column-2">
        <img alt="@project.displayName" src="@project.imageUrl"/>
    </div>

    @if(project.videos.nonEmpty && single) {
    <div class="videos-below">
        <h3>Videos</h3>
        @for(video <- project.videos) {
            <div>
                @if(video.title.nonEmpty) {
                    <h4>@video.title</h4>
                }
            <iframe width="560" height="315"
            src="@("https://www.youtube.com/embed/" + video.url.split("v=").last)"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
                        </iframe>
            </div>
        }
    </div>
    }

</div>