@import views.html.snippet._

@import java.time.format.DateTimeFormatter
@(project: service.Project, single: Boolean = false)

@if(single) {
    @for(web <- project.web){
        @loadwebgame(web)
    }
}

<div class="project round">
    <div class="jam-date">@(project.createdAtMonth())</div>
    <div class="project-actions">
        <a target="_blank" title="Download" href="@project.download"><span class="fa-solid fa-lg fa-download"></span></a>
        @for(web <- project.web){
            <a target="_blank" href="@web"><span title="Play the game in your browser" class="fa-solid fa-lg fa-gamepad"></span></a>
        }
        @for(sound <- project.soundtrack){
            <a title="Get the soundtrack!" target="_blank" href="@sound"><span class="fa-solid fa-lg fa-music"></span></a>
        }
    </div>
    <div>
        <header>
            <a class="github" target="_blank" href="@project.url"><span class="fab fa-github" aria-hidden="true"></span></a>
            <h1><a href="@routes.MainController.project(project.jam.map(_.name).getOrElse("unknown"), project.repoName)">@project.displayName</a></h1>
            @for(jam <- project.jam) {
                <div>
                    <span>@jam.name #@jam.number</span> |
                    <span>Theme "@jam.theme"</span>
                </div>
            }
        </header>
        <div>@project.description</div>
        <br/>
        @authorlist(project)
        <br/>
        @for(jam <- project.jam) {
            <div>
                        Developed for <a href="@jam.fixedSite()">@jam.name #@jam.number with the theme "@jam.theme"</a>
                @if(jam.comments.nonEmpty) {
                    <div>
                        A few cool comments:
                        @for(comment <- jam.comments) {
                            <div>@comment</div>
                        }
                    </div>
                }
                    </div>
        }
        <br/>
        @if(project.videos.nonEmpty && !single) {
            <div>Videos:</div>
            <ul>
            @for(video <- project.videos) {
                <li>
                    <a target="_blank" href="@video.url">@video.displayTitle()</a>
                </li>
            }
            </ul>
        }

    </div>

    <div class="column-2">
        <img alt="@project.displayName" src="@project.imageUrl"/>
    </div>

    @if(project.videos.nonEmpty && single) {
    <div class="videos-below">
        <h3>Videos</h3>
        @for(video <- project.videos) {
            <div>
                @if(video.title.nonEmpty) {
                    <h4>@video.title</h4>
                }
            <iframe width="560" height="315"
            src="@("https://www.youtube.com/embed/" + video.url.split("v=").last)"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
                        </iframe>
            </div>
        }
    </div>
    }

</div>