@(imgURL: String, tweetId: Long, user: String, userHandle: String, content: Html, date: String)

@userURL = @{s"https://twitter.com/$userHandle"}

<div class="twitterItem">
    <article>
        @*<div class="twitterPictureCol"><a href="@userURL"><img src="@imgURL"></a></div>*@
        <div class="twitterPictureCol"><a href="@userURL"><span class="logo fab fa-twitter twitter" aria-hidden="true"></span></a></div>
        <div class="twitterContentCol">
            <div>
                <div class="twitterTitle"><a href="@userURL">@user<span>@@@userHandle</span></a></div>
                <p>@content</p>
                <div class="twitterDate">@date<a href="@{s"$userURL/status/$tweetId"}" class="fas fa-external-link-alt"></a></div>
            </div>
        </div>
        <div class="clear"></div>
    </article>
</div>
