@(imgURL: String, tweetId: Long, user: String, userHandle: String, content: Html, date: String)

@userURL = @{s"https://twitter.com/$userHandle"}
@tweetURL = @{s"$userURL/status/$tweetId"}

<div class="twitterItem">
    <article>
        <div class="twitterPictureCol"><a href="@userURL"><img src="@imgURL"></a></div>
        <div class="twitterContentCol">
            <div>
                <div class="twitterTitle"><a href="@userURL">@user<span>@@@userHandle</span></a></div>
                <p>@content</p>
                <div class="twitterDate">@date<a href="@tweetURL" class="fa fa-arrow-right"></a></div>
            </div>
        </div>
        <div class="clear"></div>
    </article>
</div>