@import service.YtVideo
@(video: YtVideo, publishedAt: String)

<article class="round blog-post">
    <header>
        <a class="youtube" href="https://www.youtube.com/channel/UCktbmYa9DDuKflH2okA1FjA"><img src="@routes.Assets.at("images/youtube_icon.svg")"></a>
        <a href="https://youtu.be/@video.id"><h1>@video.name</h1></a>
        <div>posted by @video.channelName | @publishedAt</div>
    </header>
    <iframe src="https://www.youtube.com/embed/@video.id" frameborder="0" allowfullscreen></iframe>
</article>