.profiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & > section {
    flex: 1;
    min-width: 49%;
    display: flex;

  }

  & > section:nth-child(even) {
    margin-left: 10px;
  }
  & > section:nth-child(odd) {
    margin-right: 10px;
  }

}

.profile {
    overflow: hidden;
    .imagecolumn {
        width: 25%;
        float: left;
        background-color: #f0f0f0;
        height: 358px;
        -webkit-box-shadow: inset -5px 0px 5px -5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset -5px 0px 5px -5px rgba(0, 0, 0, 0.3);
        box-shadow: inset -5px 0px 5px -5px rgba(0, 0, 0, 0.3);

        ul {
          list-style-type: none;
        }
    }
    img {
        width: 100%;
    }
}

.profile, #about {
    background-color: #fff;
    margin-bottom: 20px;
    text-align: justify;
}

.profile section > div, #about {
    padding: 50px;
}

.profile section {
  hyphens: auto;
    width: 75%;
    header {
        text-align: left;

        h1 {
            margin-top: 0;
            margin-bottom: 0;
        }

        div {
            font-weight: 400;
            font-size: 10px;
            margin-top: 7px;
        }
    }
    p {
        margin-bottom: 0;
    }
}

#about {
    h1 {
        text-align: left;
        margin: 0;
        font-size: 20pt;
    }
    p {
        margin-bottom: 0;
    }
}

main.about {
    padding-bottom: 0;
}