.profile {
  overflow: hidden;
  .imagecolumn {
    width: 25%;
    float: left;
    background-color: #f0f0f0;
    height: 358px;
  }
  img {
    width: 100%;
  }
}

.profile, #about {
  background-color: #fff;
  margin-bottom: 20px;
  text-align: justify;
}

.profile section > div, #about {
  padding: 50px;
}

.profile section {
  float: right;
  width: 75%;
  header {
    text-align: left;

    h1 {
      margin-top: 0;
    }

    div {
      font-weight: 400;
      font-size: 10px;
      margin-top: 7px;
    }
  }
  p {
    margin-bottom: 0;
  }
}

#about {
  h1 {
    text-align: left;
    margin: 0;
    font-size: 20pt;
  }
  p {
    margin-bottom: 0;
  }
}

.leftaboutcolumn, .rightaboutcolumn {
  width: 50%;
  float: left;
}

.leftaboutcolumn .profile {
  margin-right: 10px;
}

.rightaboutcolumn .profile {
  margin-left: 10px;
}

main.about {
  padding-bottom: 0;
}