article header {
  text-align: left;
}

article header h1 {
  margin-top: 0;
}

article header span, .profile header span {
  color: #555;
  font-size: 0.6em;
  font-weight: 500;
  padding: 10px;
}

article section {
  background-color: #fff;
  padding: 5%;
  margin-left: -10px;
  margin-right: -10px;
}

article section p {
  text-align: justify;
  margin: 0;
}

article footer {
  margin: 0;
  padding: 10px;
}

#main-footer {
  background-color: #fff;
  padding: 10px 5%;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;

}

#main-footer span {
  float: right;
}