footer {
  background-color: rgb(40, 40, 40);
  overflow: hidden;
}

#footer-content {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #fff;
  background-color: #595959;
}

#footer-email, #footer-logo, #footer-social {
  width: 30%;
}

#footer-email, #footer-social {
  font-size: 12px;

  .head {
    width: 20%;
  }
}

#footer-email {
  .head {

  }
  .body {
    margin-left: 20%;
  }
}

#footer-social {
  .head {

  }
  .body {
    margin-right: 20%;
  }
  .logo {
    width: 14px;
    margin-right: 14px;
  }
}

#footer-logo {
  margin: 0 auto;
}

#footer-content img {
  /*vertical-align: text-bottom;*/
  width: 50px;
}

/*
#footer-content a {
  text-decoration: none;
  font-weight: 500;
}
*/

#copyright {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  color: rgb(146, 146, 146);
  text-align: center;
  clear: left;
  float: none;
  width: 100%;

  & > span:hover {
    & > span {
      text-decoration: line-through;
    }

    &:after {
      content: " Idiot";
    }
  }
}