@import "values";

body > footer {
  background-color: @footer-background;
  overflow: hidden;
}

#footer-content {

  height: @footer-height;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #fff;
  background-color: #595959;

  & > div {
    height: 100%;
  }

  a {
    text-decoration: none;
    font-weight: 500;
  }

  .head, .body {
    height: @footer-height;
  }

  .body > div {
    margin-top: 8px;
  }

  .head {
    line-height: @footer-height;
    vertical-align: middle;
  }
}

#footer-email, #footer-logo, #footer-social {
  width: 30%;
}

#footer-email, #footer-social {
  font-size: 12px;

  .head {
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

#footer-email {
  .head {
    text-align: right;
  }
  .body {
    margin-left: 25%;
  }
}

#footer-social {
  .head {
  }
  .body {
    margin-right: 25%;
    text-align: right;
  }

  .logo {
    width: 14px;
    margin-left: 14px;
  }
}

#footer-logo {
  margin: 0 auto;

  img {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
  }
}

#copyright {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  color: rgb(146, 146, 146);
  text-align: center;
  clear: left;
  float: none;
  width: 100%;

  & > span:hover {
    & > span {
      text-decoration: line-through;
    }

    &:after {
      content: " Idiot";
    }
  }
}