#index-main {
  //background-color: #bc8658;
  margin-bottom: 20px;
}
#index-left {
  background-color: rgba(77, 0, 11, 0.45);
  float: left;
  width: 65%;


  & > div {
    margin: 7px;

    & > div {
      border: 1px solid black;
    }
  }
}

#index-right {
  float: right;
  width: 35%;

  .header {
    background-color: #fff;

    .logo {
      width: 10%;
    }
  }

  & > div {
    margin-left: 7px;
  }
}