#index-left {
  //background-color: rgba(77, 0, 11, 0.45);
  float: left;
  width: 65%;

  #twitchplayer {
    width: 100%;
    height: 378px;

    margin-bottom: 10px;
  }

  & > .blog {
    background-color: white;
    padding: 10px;

    h2 {
      margin: 3px;
    }

    & > .blog-entry {
      padding-left: 4px;
      margin: 2px 0;
      border-bottom: 1px dotted gray;
      border-radius: 4px;
    }
  }
}

#index-right {
  float: right;
  width: 35%;

  .header {
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;

    a {
      color: #444;
    }

    .twitterLogo {
      width: 11.5pt;
    }
  }

  & > div {
    margin-left: 7px;
  }
}