#index-main {
  background-color: #1C140D;
}
#index-left {
  background-color: rgba(77, 0, 11, 0.45);
  float: left;
  width: 70%;
  margin-bottom: 20px;

  & > div {
    margin: 7px;

    & > div {
      border: 1px solid black;
    }
  }
}

#index-right {
  background-color: rgba(42, 47, 93, 0.85);
  float: right;
  width: 30%;
  margin-bottom: 20px;

  & > div {
    margin: 7px;

    .item {
      background-color: #cdbb83;
      border-radius: 3px;
      overflow: hidden;
      margin: 5px 0;
      article {
        p {
          margin: 0;
          padding: 3px;
        }
      }

    }
  }
}