.web-game-button {
  text-align: center;
  border: 1px solid black;
  margin-bottom: 3px;
  font-weight: bold;
  padding: 5px;
  background-color: gray;
  color: white;
}

#load-game-button.started {
  display: none;
}

#fullscreen-game-button {
  display: none;

  &.started {
    display: block;
  }

}

