.web-game-button {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 3px;
    font-weight: bold;
    padding: 5px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.web-game-button:hover {
    animation: vibrate 0.3s ease-in-out infinite alternate;
}

@keyframes vibrate {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-2px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

ul {
    margin: 0;
}

#load-game-button.started {
    display: none;
}

#fullscreen-game-button {
    display: none;

    &.started {
        display: block;
    }
}
