.web-game-button {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 3px;
    font-weight: bold;
    padding: 5px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.web-game-button:hover {
    animation: vibrate 0.3s ease-in-out infinite alternate;
}

@keyframes vibrate {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-2px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

ul {
    margin: 0;
}

#load-game-button.started {
    display: none;
}

#fullscreen-game-button {
    display: none;

    &.started {
        display: block;
    }
}


.project {
    position: relative;


    .project-actions {
        position: absolute;
        left: 12px;
        top: 185px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        a {
            width: 24px;
            height: 24px;
            border: 1px solid lightgray;
            background: lightblue;
            border-radius: 8px;
            color: black;
            line-height: 24px;
            padding: 2px;
        }
    }

    .jam-date {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        writing-mode: vertical-lr;
        font-size: 18px;
        position: absolute;
        left: 21px;
        top: 95px;
        transform: rotate(180deg);
        color: rgba(0, 128, 0, 0.5);
    }
}

.author-list {
    li > div {
        display: flex;
        align-items: center;
    }
    .guest {
        border-radius: 10px;
        background: rgba(100, 149, 237, 0.50);
        color: black;
        font-size: 11px;
        padding: 1px 4px;
        margin-left: 4px;
        height: 13px;
    }
}
