.project:last-child {
  margin-bottom: 0;
}

.project {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 50px;

  header {
    text-align: left;
    position: relative;

    a {
      color: #444;
    }

    a.github {
      position: absolute;
      left: -32px;
      top: 4px;

      span {
        font-size: 17pt;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 20pt;
      margin-top: 0;
      margin-bottom: 10px;
    }

    div {
      color: #555;
      font-size: 10px;
      margin-bottom: 30px;
    }
  }
}