#snippets {

  padding: 10px 0;
  overflow: hidden;



  .item {
    width: 180px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(232, 120, 20, 1);

    & > * {
      margin: 5px;
    }

    article {
      p {
        text-align: left !important;
        background-color: rgba(0, 0, 0, .2);
      }
    }
  }
}
