#snippets {

  padding: 10px 0;
  overflow: hidden;

  article {
    float: left;
    width: 50%;

    p {
      padding: 5px;
      margin: 5px;
      background-color: rgba(0, 0, 0, .2);
    }
  }
}
