.twitterItem {
  background-color: #fff;
  border-radius: @borderradius;
  overflow: hidden;
  margin-top: 5px;

  article {
    padding: 15px;

    & > div:not(.clear) {
      float: left;
    }

    .twitterPictureCol {
      width: 10%;

      img {
        width: 100%;
      }
    }

    .twitterContentCol {
      width: 90%;

      & > div {
        padding-left: 10px;
      }
    }

    .twitterTitle a {
      color: @dark-color;
      span {
        padding-left: 10px;
      }
    }

    p {
      padding: 10px 0;
      margin: 0;
    }

    .twitterDate a {
      float: right;
    }

    .twitterDate, .twitterTitle a span {
      color: @light-color;
      font-size: 10px;
    }
  }

}