@import "utils/values";
@import "utils/header";
@import "utils/blog";
@import "utils/footer";
@import "utils/snippets";
@import "utils/about";
@import "utils/index";
@import "utils/twitter";
@import "utils/projects";
@import "fontAwesome/font-awesome";

@import url("//fonts.googleapis.com/css?family=Roboto:400,500,700,900");

.clear {
  clear: both;
}

.twitter {
  color: #55acee;
}

.youtube {
  color: #e52d27;
}

.round {
  border-radius: 3px;
}

html {
  overflow-y: scroll;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 11.5pt;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #444;
  background-color: @footer-background;
}

main {
  background: rgb(221, 221, 221) url("../images/noise.png");
  padding: 20px 0;
  z-index: 100;
  position: relative;
}

.main-column {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-width: @layout-width;
}

a {
  color: #68930a;
  text-decoration: none;
  &:hover {
    color: #e52d27;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
