@import "utils/header";
@import "utils/blog";
@import "utils/footer";

@import url("//fonts.googleapis.com/css?family=Roboto:400,500,700,900");

.clear {
  clear: both;
}

.twitter {
  color: #55acee;
}

.youtube {
  color: #e52d27;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #1C140D;
}

body {
  background-color: #F2E9E1;
}

#main-column {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 600px;
}

.profile img {
  float: left;
}

.profile img {
  height: 200px;
}

.profile {
  background-color: #fff;
  margin-bottom: 15px;
  margin-left: -10px;
  margin-right: -10px;
}

.profile section {
  padding: 5%;
}