@main("About") {
    <p id="about">
        Something about Banana4Life...
    </p>
    <section class="profile">
        <img src="@routes.Assets.at("images/Banana4Life-Logo.png")">
        <section>
            <header>
                <h1>Rahtainka <span>Student of applied computer science in Mannheim, Germany</span></h1>
            </header>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </section>
        <div class="clear"></div>
    </section>
    <section class="profile">
        <img src="@routes.Assets.at("images/Banana4Life-Logo.png")">
        <section>
            <header>
                <h1>Faith <span>Student of applied computer science in Mannheim, Germany</span></h1>
            </header>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </section>
        <div class="clear"></div>
    </section>
    <section class="profile">
        <img src="@routes.Assets.at("images/Banana4Life-Logo.png")">
        <section>
            <header>
                <h1>Phillip <span>Student of applied computer science in Mannheim, Germany</span></h1>
            </header>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </section>
        <div class="clear"></div>
    </section>
    <section class="profile">
        <img src="@routes.Assets.at("images/Banana4Life-Logo.png")">
        <section>
            <header>
                <h1>Jonas Dann <span>Student of applied computer science in Mannheim, Germany</span></h1>
            </header>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </section>
        <div class="clear"></div>
    </section>
}
