@main("About") {
    <section id="about" class="round">
        Banana4Life was found as a hobby team that irregularly participates in Ludum Dare by Anselm (Faithcaio), Jonas, Katharina and Phillip.
        Our goal is to create fun and polished games. We always try to accompany our game creation process with blog posts about what we are
        doing and a twitch stream. Subscribe to our social media linked in the footer to always know when we participate and if you are a
        competitor we wish you the best of luck.
    </section>
    <section class="profile round">
        <img src="@routes.Assets.at("images/Katha.png")">
        <section>
            <header>
                <h1>Katharina <span>Student of Economic Computer Science in Mannheim, Germany</span></h1>
            </header>
            <p>
                Not even writing something about herself. :P
            </p>
        </section>
        <div class="clear"></div>
    </section>
    <section class="profile round">
        <img src="@routes.Assets.at("images/Baum.png")">
        <section>
            <header>
                <h1>Faithcaio <span>A Tree, Germany</span></h1>
            </header>
            <p>
                Growing steadily.
            </p>
        </section>
        <div class="clear"></div>
    </section>
    <section class="profile round">
        <img src="@routes.Assets.at("images/Phillip.png")">
        <section>
            <header>
                <h1>Phillip <span>Student of Applied Computer Science in Karlsruhe, Germany</span></h1>
            </header>
            <p>
                Nobody knows what he is doing.
            </p>
        </section>
        <div class="clear"></div>
    </section>
    <section class="profile round">
        <img src="@routes.Assets.at("images/Jonas.png")">
        <section>
            <header>
                <h1>Jonas <span>Student of Applied Computer Science in Karlsruhe, Germany</span></h1>
            </header>
            <p>
                Jonas is the graphics designer of the team. He produces beautiful experiences, but the rest of the team wants another
                designer. Thus, he is always really sad. :,( Besides being sad he has a Bachelor of Science in Applied Computer Science
                and studies for the Masters degree at the Karlsruhe Institute Technology.
            </p>
        </section>
        <div class="clear"></div>
    </section>
}
