@(posts: java.util.List[com.tumblr.jumblr.types.Post])
@import com.tumblr.jumblr.types.TextPost

@main("Blog") {
    @for(post <- posts) {
        @if(post.isInstanceOf[TextPost]) {
            <article>
                <section>
                    <header>
                        <h1> @post.asInstanceOf[TextPost].getTitle <span> posted by @post.getBlogName | @post.getDateGMT</span></h1>
                    </header>
                    @Html(post.asInstanceOf[TextPost].getBody)
                </section>
                <footer>
                    @for(tag <- post.getTags) {
                        #@tag
                    }
                </footer>
            </article>
        }
    }
    <footer id="main-footer">
        <a href="@routes.Application.index()">older</a>
        <span><a href="@routes.Application.index()">newer</a></span>
    </footer>
}
