@(posts: Seq[Html], prev: Boolean, next: Boolean, page: Int)

@main("Blog") {
    @for(post <- posts) {
        @post
    }
    @if(prev || next) {
        <footer id="main-footer" class="round">
            @if(prev) {
                <a class="newer" href="@routes.Application.blog(page - 1)">
                    << newer
                </a>
            }
            @if(next) {
                <a class="older" href="@routes.Application.blog(page + 1)">
                    older >>
                </a>
            }
            <div class="clear"></div>
        </footer>
    }
}
