@main("Blog") {
<article>
    <section>
        <header>
            <h1>Article Name</h1>
        </header>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
            sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
            justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet.
        </p>
    </section>
    <footer>
        Comments
    </footer>
</article>
<footer id="main-footer">
    <a href="@routes.Application.index()">older</a>
    <span><a href="@routes.Application.index()">newer</a></span>
</footer>
}
