@(project: service.Project, ldjamEntry: service.LdJamEntry)

@for(web <- project.web){

    <div id="load-game-button" class="web-game-button">Load Web Game (this may take a while)</div>
    <div id="fullscreen-game-button" class="web-game-button fullscreen">Fullscreen</div>
    <div class="webgl-content">
        <div id="gameContainer" data-buildjson="@web.toString/Build/Build.json"></div>
    </div>

    <script src="@{web.toString}/TemplateData/UnityProgress.js"></script>
    <script src="@{web.toString}/Build/UnityLoader.js"></script>
    <script src="@routes.Assets.at("javascripts/LoadWebVersion.js")"></script>
}

<div class="top-project round">
    <div>
        <header>
            <h1><a href="@project.jam.map(_.site).getOrElse(project.url)">@project.displayName</a></h1>
            @* TODO VOTE HERE link *@
        </header>
        <div>@Html(ldjamEntry.body)</div>
        @snippet.authorlist(project)
    </div>
</div>

