@(tweets: List[Html], blogs: List[Html], project: Html)

@main("Home") {
    <div id="index-main">
        <div id="index-left">
            <div>
                <div id="index-blog">LD31 Just started! We're going to make an entire game.</div>
                <div id="index-project">
                    <div>LD31(Entire game on one screen)</div>
                </div>
            </div>
        </div>

        <div id="index-right">
            <div class="header">
                <a href="https://twitter.com"><img class="twitterLogo" src="@routes.Assets.at("images/twitter_icon.png")"> Twitter</a>
            </div>
            <div>
                @for(tweet <- tweets) {
                    <div class="twitterItem">
                        @tweet
                    </div>
                }
            </div>
        </div>
        <div class="clear"></div>
    </div>
}
