@(tweets: List[Html], blogs: List[Html], project: Html, twitchPlayer: Option[Html])

@main("Home") {
    <div id="index-main">
        @if(twitchPlayer.isDefined) {
            <div>
            @twitchPlayer.get
            </div>
        }
        <div class="blog" id="index-left">
            <header class="round">
                <h1>Latest Activities</h1>
            </header>
            @for(blog <- blogs) {
                @blog
            }
        </div>

        <div id="index-right">
            <header class="round">
                <a href="https://twitter.com"><img class="twitterLogo" src="@routes.Assets.at("images/twitter_icon.png")"> <h1>Twitter</h1></a>
            </header>
            <div>
                @for(tweet <- tweets) {
                    <div class="twitterItem">
                        @tweet
                    </div>
                }
            </div>
        </div>
        <div class="clear"></div>
    </div>
}
