@(activities: Seq[Html], twitchPlayer: Option[Html], currentProject: Option[Html])

@main("Home", "home") {
    <div id="index-main">
        @for(project <- currentProject) {
            <div id="index-top">
            @project
            </div>
        }
        @for(player <- twitchPlayer) {
            <div>
            @player
            </div>
        }
        <div class="blog" id="index-content">
            <header class="round">
                <h1><span class="far fa-newspaper" aria-hidden="true"></span> Latest Activities</h1>
            </header>
            @for(activity <- activities) {
                @activity
            }
        </div>

        <div class="clear"></div>
    </div>
}
