@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>Banana4Life - @title</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(["setCookieDomain", "*.banana4.life"]);
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//analytics.cubyte.org/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 6]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="//analytics.cubyte.org/piwik.php?idsite=6" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->	
    </head>
    <body>
        <header>
            <div class="main-column" style="position: relative">
                <span class="clear"></span>
                <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/Banana4Life-Logo-Header.png")"></a>
                <form method="GET" action="@routes.Application.search("")">
                    <div id="searchBoxWrapper">
                        <span class="fa fa-search" aria-hidden="true"></span>
                        <input name="query" type="text" id="searchBox" placeholder="Search">
                    </div>
                </form>
            </div>
        </header>
        <nav>
            <div class="main-column">
                <ul>
                    <li><a href="@routes.Application.index()" class="@(if(title == "Home") "current")">Home</a></li>
                    <li><a href="@routes.Application.blog(0)" class="@(if(title == "Blog") "current")">Blog</a></li>
                    <li><a href="@routes.Application.projects()" class="@(if(title == "Projects") "current")">Projects</a></li>
                    <li><a href="@routes.Application.about()" class="@(if(title == "About") "current")">About</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </nav>
        <main class="@title.toLowerCase()">
            <div class="main-column">
                @content
            </div>
            <div class="clear"></div>
        </main>
        <footer>
            <div id="footer-content" class="main-column">
                <div id="footer-email" class="left">
                    <b>Contact</b><br>
                    Banana4Life ist located in Germany.<br>
                    E-Mail us at info@@banana4.life.
                </div>
                <div id="footer-social" class="right">
                    <b>Connect</b><br>
                    <span class="logo fa fa-twitter twitter" aria-hidden="true"></span>
                    <a class="twitter" href="https://twitter.com/bananafourlife">@@bananafourlife</a>
                    <br>
                    <img class="logo" src="@routes.Assets.at("images/youtube_icon.svg")">
                    <a class="youtube" href="https://www.youtube.com/channel/UCktbmYa9DDuKflH2okA1FjA">Jonas Dann</a>
                    <br>
                    <span class="logo fa fa-github github" aria-hidden="true"></span>
                    <a class="github" href="https://github.com/Banana4Life">Banana4Life</a>
                </div>
                <div id="footer-logo">
                    <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/Banana4Life-Logo.png")"></a>
                </div>
            </div>
            <div id="copyright">© Banana4Life, all rights reserved | Designed by <span><span>Jonas Dann</span></span></div>
        </footer>
    </body>
</html>
