@(snippets: Seq[Html])

@main("Snippets") {
    <div id="snippets">
        <div class="grid-sizer"></div>
        @for(tweet <- snippets) {
            <div class="item">
                <div class="twitterItem">
                    @tweet
                </div>
            </div>
        }
    </div>
    <script type="text/javascript" src="@routes.Assets.at("lib/masonry/masonry.pkgd.min.js")"></script>
    <script>
        $(document).ready( function() {
            $('#snippets').masonry({
                itemSelector: '#snippets > .item',
                columnWidth: '.grid-sizer',
                percentPosition: true
            });

            window.addEventListener('load', function() {
                $('#snippets').masonry({
                    itemSelector: '#snippets > .item',
                    columnWidth: '.grid-sizer',
                    percentPosition: true
                });
            })
        });
    </script>
}
