<!DOCTYPE html>
<html>
    <head lang="en">
      <meta charset="UTF-8">
      <title>Test</title>
      <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css">
    </head>
    <body>
        <div id="background-stripe">
            <header>
                <a href="/"><img src="assets/Banana4Life-Logo.png"></a>
            </header>
            <nav>
                <ul>
                    <li><a href="/">Blog</a></li>
                    <li><a href="/snippets">Snippets</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <div class="right"></div>
                <div class="left"></div>
                <div class="clear"></div>
            </nav>
            <main>
                <article>
                    <header>
                        <h1>Article Name</h1>
                    </header>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                        justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                        ipsum dolor sit amet.
                    </p>
                    <footer>
                        Comments
                    </footer>
                </article>
            </main>
            <footer>
                <div id="email">info@@banana4.life</div>
                <div id="logo"><a href="/"><img src="assets/Banana4Life-Logo.png"></a></div>
                <div id="social">twitter: @@bananafourlife</div>
                <div id="copyright">© Banana4Life</div>
            </footer>
        </div>
    </body>
</html>